[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
django = "*"
mysqlclient = "*"
djangorestframework = "*"
channels = "*"
twisted = {path = "C:/Users/Medo/Downloads/Twisted-18.9.0-cp37-cp37m-win_amd64.whl"}

[requires]
python_version = "3.7"
