[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
django = "*"
djangorestframework = "*"
channels = "*"
honcho = "*"
channels-redis = "*"
pyopenssl = "*"
service-identity = "*"
twisted = {extras = ["http2", "tls"],version = "*"}
pytest-django = "*"
pytest-asyncio = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
