[run]
omit =
    *apps.py,
    *migrations/*,
    *settings*,
    *tests/*,
    *urls.py,
    *wsgi/*,
    mysite/*,
    *admin.py,
    *models.py,
    *routing.py*,
    manage.py,
    polls/*
    conftest.py
