aioredis==1.2.0
asgiref==3.1.2
asn1crypto==0.24.0
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
certifi==2019.3.9
cffi==1.12.2
channels==2.2.0
channels-redis==2.4.0
chardet==3.0.4
constantly==15.1.0
coverage==4.5.3
cryptography==2.6.1
daphne==2.3.0
Django==2.2
django-webpack-loader==0.6.0
djangorestframework==3.9.2
h2==3.1.0
hiredis==1.0.0
honcho==1.0.1
hpack==3.0.0
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
more-itertools==7.0.0
msgpack==0.6.1
pluggy==0.9.0
priority==1.3.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pytest==4.4.1
pytest-asyncio==0.10.0
pytest-cov==2.6.1
pytest-django==3.4.8
pytz==2019.1
requests==2.21.0
service-identity==18.1.0
six==1.12.0
sqlparse==0.3.0
Twisted==19.2.0
txaio==18.8.1
urllib3==1.24.2
whitenoise==4.1.2
zope.interface==4.6.0
